# Replace globalmarketing.com with your actual domain
# Caddy will automatically generate and renew Let's Encrypt HTTPS certificates for this domain!

crm.yourdomain.com {
    reverse_proxy crm:3000
}

# Later when you add the invoice project, you can just add 3 more lines here like this!
#
# invoice.yourdomain.com {
#     reverse_proxy invoice-app-container:3000
# }
